<div class="container-fluid">
    <div class="row">
        <div style="height: 90vh;width: fit-content;" class="col-lg-2 bg-secondary d-flex flex-column p-3">
            <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/dashboard">Home</a>
            <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/users">Users</a>
        </div>
        <div class="col-lg-10">
            <h1>Welcome To User Portal</h1>
        </div>
    </div>
</div>